body{
    margin: 0;
    padding: 0;
    background: url(portal.png);
    background-size: cover;
    background-position:center ;
    font-family: sans-serif;
}
.header img {
    border-radius: 50%;
    width: 5vw;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
   
}

.nav-links{
    flex: 1;
    text-align: right;
  
} 
    
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(240, 224, 6);
    display: block;
    margin: auto;
    transition: 0.6s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;}
.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(52, 52, 97);
    color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
border-bottom: 1px solid #ffffff;
background: transparent;
outline: none;
height: 40px;
color: white;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(255, 187, 0);
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: rgb(3, 174, 253);
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color: rgb(255, 187, 0);
}
